<header class="fixed top-0 left-0 right-0 z-50">
  <nav #nav class="nav">
    <!-- ACTUAL NAVIGATION MENU -->
    <ul #menu class="nav__menu" [ngClass]="!isMenuOpen? 'hidden' : 'block'"
        id="menu" tabindex="-1" aria-label="main navigation">
      <ng-container *ngFor="let option of menuOptions">
        <li class="nav__item" 
            [routerLink]="option.router"
            [routerLinkActive]="['seleccionado']"
            [routerLinkActiveOptions]="{exact:true}" >
          <a [href]="option.router"  name="{{option.router}}" 
            class="montserrat block text-center nav__link text-xl sm:text-2xl lg:text-4xl xl:text-5xl p-4 uppercase" >
            {{option.navigation}} 
          </a>
        </li>
      </ng-container>
    </ul>
    <!-- MENU TOGGLE BUTTON -->
    <a #nav_togle class="nav__toggle" role="button" aria-expanded="false" aria-controls="menu" 
      (click)="button_togle()">
      <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
        <title>Toggle Menu</title>
        <g>
          <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
          <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
          <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
          <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
          <circle class="menuicon__circle" r="23" cx="25" cy="25" />
        </g>
      </svg>
    </a>
    <!-- ANIMATED BACKGROUND ELEMENT -->
    <div class="splash"></div>
  </nav>
</header>

