
h1 {
  font-family: var(--font-family-Monstserrat);
}
h2 {
  font-family: var(--font-family-Lora);
}
p {
  font-family: var(--font-family-Hind);
}

// -----------------------------

.custom-btn {
  color: #000;
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 
    3px 3px 3px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
 }
 
 .btn-1 {
  background: var(--color-primario) ;
  background: linear-gradient(0deg, rgb(244, 198, 6) 0%,rgb(244, 198, 6) 100%);
  border: none;
 }
 
 .btn-1:before {
  height: 0%;
  width: 2px;
 }
 

// ---------------
.btn {
  background: transparent;
  color: white;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  border-radius: 0.375rem;
  width: 0;
  background-color: rgb(252 211 77);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.btn:hover {
  color: #000;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  background: linear-gradient(to right, rgba(252, 211, 77, 0.2) 1%, transparent 40%,transparent 60% , rgba(252, 211, 77, 0.2) 100%);
  box-shadow: inset 0 0 10px rgba(252, 211, 77, 0.6), 0 5px 10px 3px rgba(252, 211, 77, 0.5);
}

.btn:hover::before {
  width: 90%;
  left: 2px;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  border-radius: 0.375rem;
  background-color: rgb(252 211 77);
  -webkit-transition: .4s ease;
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  color: aliceblue;
}


//---------------------------------------------------------------------------
// calculate a circle's circumference based on radius
@function circumference($r){
  $pi: 3.141592653;
  @return 2*$pi*$r;
}


// ---------------------------
// Main Navigation Menu
// ---------------------------

.nav {
  
  // Toggle Button
  &__toggle {
    display:inline-block;
    position:absolute;
    z-index:50;
    padding:0;
    border:0;
    background:transparent;
    outline:0;
    right:1rem;
    top:1rem;
    cursor:pointer;
    border-radius:50%;
    transition:background-color .15s linear;
    
    &:hover,
    &:focus {
      background-color:rgba(0,0,0,.1);
    }
  }

  &__item {
    color: white;
    transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) 3s;
  }
  
  // @for $i from 1 through 5 {
  //   &__item:nth-child(#{$i}){
  //     transform:translateY(-40px * $i);
  //   }
  // }
  
  &__link {
    &:hover,
    &:focus {
      background-color:rgba(255, 255, 255, 0.36) ;
    }
  }
}


// ---------------------------
// SVG Menu Icon
// ---------------------------

.menuicon {
  display:block;
  cursor:pointer;
  color: white;
  
  transform:rotate(0deg);
  transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  
  &__bar,
  &__circle {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin:50% 50%;
    transition: transform .25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset .3s linear .1s;
    stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray:circumference(23);
  }
}


// ---------------------------
// Circular Splash Background
// ---------------------------

.splash {
  position:absolute;
  top:40px;
  right:40px;
  width: 1px;
  height: 1px;
  z-index: 10;
  &::after {
    content:"";
    display:block;
    position:absolute;
    border-radius:50%;
    background-color:black;
    // opacity: 0.8;
    z-index: 20;
    // screen diameter can be 142vmax at most,
    // circle needs to be twice that size to cover it
    width:284vmax;
    height:284vmax;
    top:-142vmax;
    left:-142vmax;
    
    transform: scale(0);
    transform-origin:50% 50%;
    transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    
    // will-change tells the browser we plan to 
    // animate this property in the near future
    will-change:transform;
  }
}


// ---------------------------
// Active State
// ---------------------------

.nav:target,
.nav--open {
  
  //scale the background circle to full size
  > .splash::after {
    transform:scale(1);
  }
  
  //animate the menu icon
  .menuicon {
    color:white;
    transform:rotate(180deg);
    
    &__circle {
      stroke-dashoffset:0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity:0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
  
  //show the nav items
  .nav {
    &__menu {
      position: relative;
      height: 100vh;
      display: grid;
      place-content: center;
      z-index: 50;
    }
  
    // &__item {
    //   opacity:1;
    //   transform:translateY(0);
    // }
  }
}




.seleccionado{
  color: var(--color-primario);
}