
<section class="w-full h-full overflow-hidden flex flex-col justify-between gap-4">
  <div class="card__main">
    <div class="card__header ">
      <h1 class="montserrat text-2xl lg:text-5xl  font-bold [color:var(--color-primario)]">{{dataCard.title}}</h1>
      <p class="hind text-sm lg:text-base italic text-white">{{dataCard.subtitle}}</p>
    </div>
    <div class="card__content text-white my-4">
      <div class="card_content_figures flex w-full h-40 md:h-[300px] my-4">
        <ng-container *ngFor="let imgs of dataCard.gallery">
           <img [src]="imgs" alt="" class="w-0 opacity-50 grow object-cover hover:object-contain  duration-[1s] ease-in-out hover:w-3/4 xl:hover:w-1/2 md:hover:object-contain md:hover:object-center hover:opacity-100"> 
        </ng-container>
      </div>
      <div class="card__content_body lg:flex lg:gap-4 lg:items-center my-4 lg:justify-between">
        <ul class=" my-4 ">
            <ng-container *ngFor="let item of dataCard.content">
              <li class="my-2 flex items-center"> 
                <mat-icon class="mx-2 flex-none text-white">verified</mat-icon>  
                <span class="hind text-sm sm:text-base"> {{item}} </span>
              </li>
            </ng-container>
        </ul>
        <div class=" my-4 ">
          <a [href]="linkWhatsapp" target="_blank" class="focus:outline-none flex justify-center">
            <app-button [action]="'Lo quiero'"  ></app-button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card__footer flex justify-center">
    <button mat-dialog-close class="px-4 py-2 border-2 border-solid rounded-lg border-white text-white montserrat">Cerrar</button>
  </div>
</section>