
button {
  cursor: pointer;
  font-weight: 700;
  transition: all .2s;
  border-radius: 100px;
  background: #fff;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

button:hover {
  background: var(--color-primario);
}

button > svg {
  margin-left: 5px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(10px);
}

button:active {
  transform: scale(0.95);
}