

<div class="work container relative z-10">

  <div class="work__title my-4">
    <p class="montserrat  text-xl font-light underline underline-offset-4 mb-4 mt-16 uppercase ">
      Mi trabajo
    </p>
    <h3 class="montserrat text-xl sm:text-3xl xl:text-5xl font-bold underline underline-offset-4 [color:var(--color-primario)] my-4">
      Proyectos realizados
    </h3>
  </div>

  <div class="work__content">
    <div class="work__content__figures flex w-full h-[200px] md:h-[60vh] my-4 relative ">
      <ng-container *ngFor="let imgs of proyects">
          <img [src]="imgs" alt="" class="object-top work__content__imgs w-0 opacity-50 grow object-cover hover:object-contain duration-[1s] ease-in-out hover:w-3/4 xl:hover:w-1/2 md:hover:object-contain  hover:opacity-100 relative  "> 
      </ng-container>
      <a href="/projects" name="/projects"  class="cursor-pointer rounded-lg inline-block absolute bottom-0 left-1/2 transform -translate-x-1/2 z-10 m-2 ">
        <app-button [action]="'Ver más'" ></app-button>
      </a>
      
    </div>
  </div>

</div>



