

.work{
  &__content{
    &__figures::after{
      content: '';
      z-index: 1;
      position:absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40%;
      width: 100%;
      background: rgb(9,32,63);
      background: linear-gradient(180deg, rgba(9,32,63,0) 0%, rgba(10,9,8,0.75) 30%, rgba(0,0,0,5) 50%,rgba(0,0,0,1) 90%);
    }
  }
}
