<main class="min-h-screen">
  <section class="container py-4 md:py-16">

    <div class="work__title">
      <p class="montserrat  text-xl font-light underline underline-offset-4  uppercase text-white">
        Mi trabajo
      </p>
      <h3 class="montserrat text-center text-xl sm:text-3xl xl:text-5xl font-bold underline underline-offset-4 [color:var(--color-primario)] my-4">
        Proyectos realizados
      </h3>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 md:gap-12 ">

      <ng-container *ngFor="let img of proyectWebs">
        <div>
          <span class="block text-center text-white my-4 lora text-base md:text-lg">{{img.type}}</span>
          <figure class="max-h-screen overflow-y-auto">
            <img [src]="img.web" alt="" >
          </figure>
        </div>
      </ng-container>
    </div>
  </section>
</main>