

figure::before {
  content: '';
  width: 90%;
  height: 80%;
  background-image: url('../.././../../../assets/fondo.webp');
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  z-index: 0;
  border-radius: 100% 0 0 100%;
  box-shadow: 12px 10px 24px 10px rgba(10,9,8,0.45) inset;
  -webkit-box-shadow: 12px 10px 24px 10px rgba(10,9,8,0.45) inset;
  -moz-box-shadow: 12px 10px 24px 10px rgba(10,9,8,0.45) inset;
}

@media (max-width: 640px) {
  figure::before {
    width: 100%;
    border-radius: 0%
  }
  
@keyframes animate_text  {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(600%);
  }
}

}
// figure::after {
//   content: '';
//   left: -50% ;
//   right: 0;
//   width: 150%;
//   height: 10%;
//   background-color: var(--color-black);
//   position: absolute;
//   bottom: 1;
//   z-index: 0;
// }

section > figure > p {
  color: var(--color-black);
}

.perfil_photo {
  filter: drop-shadow(0px 0px 20px var(--color-black));
  position: relative;
}

.perfil_photo::before{
  content: 'JAVASCRIPT';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: red;
  color: red;
  z-index: 100;
}


// 
.animaTitle{
  animation: animate_text 10s linear infinite;
  mix-blend-mode: multiply;
  text-shadow: 5px 5px 10px black;
  -webkit-text-stroke: #fff 0.5px;
}

.animaTitle:nth-child(1){
  animation-delay: 3000ms;
  animation-duration: 7s;
}



.animaTitle:nth-child(2){
  animation-delay: 4000ms;
  animation-duration: 5s;
}



.animaTitle:nth-child(3){
  animation-delay: 1500ms;
  animation-duration: 15s;
}


.animaTitle:nth-child(4){
  animation-delay: 2000ms;
  animation-duration: 7s;
}



@keyframes animate_text  {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}


.custom-btn {
  color: #000;
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 
    3px 3px 3px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
 }
 
 .btn-1 {
  background: var(--color-primario) ;
  background: linear-gradient(0deg, rgb(244, 198, 6) 0%,rgb(244, 198, 6) 100%);
  border: none;
 }
 
 .btn-1:before {
  height: 0%;
  width: 2px;
 }
 


 .border-text{
  color: transparent;
  font-weight: 500;
  -webkit-text-stroke: 0.5px white;
}