
<div class="container relative z-40">
  <div class="pt-24 sm:p-6 sm:pt-28 md:pt-32 lg:pt-40">
    <span class="text-3xl hind sm:text-4xl xl:text-5xl font-[500] text-white">Hola,</span>
    <h1 class='sm:max-w-sm md:max-w-md -mt-2  w-full relative z-10 flex '>
      <span class="text-8xl montserrat md:text-9xl font-bold [color:var(--color-primario)]  [text-shadow:_0_6px_10px_rgb(0_0_0_/_80%)]">Soy</span>
      <span class="w-full max-w-[250px]  flex flex-col justify-end gap-3 md:gap-0 -mb-2 md:-mb-1">
        <span class="hind block border-text text-black text-5xl  md:text-5xl  leading-7 [text-shadow:_0_6px_10px_rgb(0_0_0_/_80%)]">Jonny</span>
        <span class="hind block border-text text-end text-black text-5xl  md:text-5xl  leading-7 [text-shadow:_0_6px_10px_rgb(0_0_0_/_80%)]">Pilco</span>
      </span>
    </h1>
    <span class="lora w-full sm:max-w-sm md:max-w-md text-center col-span-1 row-span-1 custom-btn btn-1 py-3 lora text-lg md:text-2xl p-2 relative z-[9] rounded-md border-2 lg:border-4 ">Full Stack Developer & Web Designer</span>
  </div>
</div>

<div class="absolute top-0 left-0 right-0 bottom-0 flex justify-center sm:justify-end items-end z-10 overflow-hidden">
  <figure class="w-full md:w-1/2 xl:w-2/5 pb-8 sm:pb-0 relative z-20 ">
    <div class="absolute top-24 md:top-24 lg:top-20  left-12 md:left-0">
      <p class="lora text-2xl sm:hidden md:block md:text-3xl lg:text-5xl font-bold  sm:my-2 md:my-4 lg:my-8 xl:mt-24 animaTitle" >Frontend</p>
      <p class="lora text-xl sm:hidden md:block md:text-xl lg:text-6xl font-bold my-2 sm:my-4 md:my-4 lg:my-8 animaTitle" >Backend</p>
      <p class="lora text-3xl sm:hidden md:block md:text-4xl lg:text-8xl font-bold my-2 sm:my-2 md:my-4 lg:my-8 animaTitle" >Design</p>
      <p class="lora text-xl sm:hidden md:block md:text-2xl lg:text-6xl font-bold  sm:my-4 md:my-4 lg:my-8 animaTitle" >Databases</p>
    </div>
    <img [ngSrc]="photoPerfilFrontal"  
          alt="" 
          class="w-[400px] mx-auto sm:w-auto transform sm:translate-x-1/3 sm:p-0 md:translate-x-0" 
          width="100" height="100" 
          priority>
  </figure>
</div>

