<canvas #portfolioProfile 
  id="canvas" 
  class="absolute w-full h-52 -mt-14 sm:mt-0 pl-14  sm:p-0 sm:w-2/5 sm:h-2/5
  left-0 sm:left-16 md:left-24 
  top-1/2 
  transform -translate-y-1/2 
  sm:bottom-0 
  rounded-sm
  shadow-2xl
  sm:border-4
  [border-color:white]
  z-20">
</canvas>


<ngx-spinner
  bdColor="rgba(0,0,0,0.6)"
  size="large"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
