<div #sections class="relative w-full h-full overflow-y-auto z-10">

  <div class="container">
    <div class="services__title my-4">
      <p class="montserrat text-xl font-light underline underline-offset-4 mb-4 sm:mt-16 uppercase">
        Mis servicios
      </p>
      <h3 class="montserrat text-xl sm:text-3xl xl:text-5xl font-bold underline underline-offset-4 [color:var(--color-primario)] my-4">
        ¿A qué me dedico?
      </h3>
    </div>
    <div class="services__content grid grid-cols-2 sm:grid-cols-7  gap-2 md:gap-4 
    md:mx-auto md:float-right  lg:max-w-3xl ">
      <ng-container *ngFor="let service of contentServices">
        <div #cards 
              class="services__cards cursor-pointer relative bg-white border border-gray-200 
              rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-2 md:p-4
              flex flex-col gap-2 justify-between "  
              [attr.data-card]="service.atribute"
              (click)="openModal(service)">
          <h1 class="montserrat text-sm font-bold">{{service.title}}</h1>
          <p class="montserrat text-xs">{{service.description}}</p>
          <app-button [action]="'Ver más'" [data]="service" (dataToParent)="openModal($event)"></app-button>
        </div> 
      </ng-container>
    </div>
  </div>

</div>

