
<main>
  
  <section #mySection class="first">
    <div #outer class="outer">
      <div #inner class="inner">
        <div #background class="bg one">
          <app-presentation></app-presentation>
        </div>
      </div>
    </div>
  </section>

  <section #mySection class="second">
    <div #outer class="outer">
      <div #inner class="inner">
        <div #background class="bg">
          <app-about-me></app-about-me>
        </div>
      </div>
    </div>
  </section>

  <section #mySection class="third">
    <div #outer class="outer">
      <div #inner class="inner">
        <div #background class="bg ">
          <app-my-services></app-my-services>
        </div>
      </div>
    </div>
  </section>

  <section #mySection class="fourth">
    <div #outer class="outer">
      <div #inner class="inner">
        <div #background class="bg">
          <app-my-work></app-my-work>
        </div>
      </div>
    </div>
  </section>

  <section #mySection class="fifth">
    <div #outer class="outer">
      <div #inner class="inner">
        <div #background class="bg">
          <h2 #section_heading class="section-heading">Keep scrolling</h2>
        </div>
      </div>
    </div>
  </section>

  <div class="absolute bottom-16 left-0 h-6 w-full z-40 ">
    <div class="relative mx-auto w-6 h-6 cursor-pointer" (click)="goToSection()">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </div>

</main>