<footer>
  <nav class="fixed bottom-0 right-0  p-4 pb-8 md:pr-6 z-50">
    <ul class="flex gap-2 md:gap-4 justify-end">
      <ng-container *ngFor="let option of socialMediaOptions">
        <li class="">
          <a href="">
            <span>
              <figure >
                <img src="{{option.icon}}" alt="" class="w-4 md:w-8 mx-auto">
                <figcaption 
                  class="montserrat text-[8px] md:text-[10px] text-white sm:text-sm  underline underline-offset-2 " >
                  {{option.navigation}}
                </figcaption>
              </figure>
            </span>
          </a>
        </li>
      </ng-container>
    </ul>
  </nav>
</footer>

