<main class="w-full h-screen overflow-hidden">
  <canvas #canvasElement id="canvas" class="h-full w-full"></canvas>
</main>
<ngx-spinner
  bdColor="rgba(0,0,0,0.6)"
  size="large"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>