//*  https://jnpiyush.medium.com/how-to-create-custom-theme-in-angular-material-bd518818d2fc


$black: #0A0908;
$white: #ffffff;
$custom-primary: #0A0908;
$custom-accent: #F4C606;
$custom-warn: #F44336;

$custom-brand-primary: (
  50: '#E0E0E0',
  100: '#B3B3B3',
  200: '#808080',
  300: '#4D4D4D',
  400: '#262626',
  500: $custom-primary,
  600: $custom-primary,
  700: $custom-primary,
  800: $custom-primary,
  900: $custom-primary,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$custom-brand-accent: (
  50: '#FEF8E1',
  100: '#FCEEB4',
  200: '#FAE383',
  300: '#F7D751',
  400: '#F6CF2B',
  500: $custom-accent,
  600: '#F3C005 ',
  700: '#F1B904',
  800: '#EFB103',
  900: '#ECA402',
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $black,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$custom-brand-warn: (
50 : #FEE8E7, 
100 : #FCC7C3, 
200 : #FAA19B, 
300 : #F77B72, 
400 : #F65F54, 
500 : $custom-warn, 
600 : #F33D30, 
700 : #F13429, 
800 : #EF2C22, 
900 : #EC1E16,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

