/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  // PALETA DE COLORES
  --color-primario: #F4C606;
  --color-secundario: #F44336;
  --color-black: #0A0908;
  // heares 1
  --font-family-Monstserrat: 'Montserrat', sans-serif;
  --font-family-BebasNeue: 'Bebas Neue', cursive;
  // header 2
  --font-family-Lora: 'Lora', serif;
  // text
  --font-family-Hind: 'Hind Madurai', sans-serif;
}

//Tipografias 
.bebas {
  font-family: var(--font-family-BebasNeue);
}
.montserrat{
  font-family: var(--font-family-Monstserrat);
}
.lora{
  font-family: var(--font-family-Lora);
}
.hind{
  font-family: var(--font-family-Hind);
}


.custom-modalbox {
  mat-dialog-container {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
      --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }
}