button {
  cursor: pointer;
  font-weight: 700;
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #fff;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:hover {
  background: var(--color-primario);
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}


.bg{
  background: #000;
  // background: linear-gradient(90deg, rgba(9,32,63,1) 0%, rgba(10,9,8,1) 63%, rgba(0,0,0,1) 90%);
  // background-image: url("https://img.freepik.com/foto-gratis/emocionado-joven-caucasica-senalando_171337-11537.jpg?w=1380&t=st=1674796242~exp=1674796842~hmac=6647be4b31815f9ae8da221cf7bb97bdbac759d39fb7429bfafb0e38f952c02e");
  // background-size: cover;
  // background-position: center;
}
.background {
  // background: radial-gradient(
  //   circle at top center,
  //   rgba(9,32,63,0) 10%,
  //   rgba(9,32,63,0.5) 30%,
  //   rgba(0,0,0,1) 50%
  // );
  // background: linear-gradient(rgba(0,0,0,0)0% 50%,rgba(0,0,0,1)50% 100%);
}
