<div #sections class="relative w-full h-full overflow-hidden z-10">

  <div #panel class="absolute top-0 left-0 right-0 bottom-0">
    <div class="container w-full h-full grid sm:grid-cols-5 sm:gap-4 md:grid-cols-7 lg:grid-cols-9 xl:grid-cols-12 items-center">
      <div class="order-2 sm:order-1 sm:col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-5 xl:col-start-1">
        <figure>
          <img [ngSrc]="posicionamiento" alt="" priority width="1080" height="1000" class="w-2/3 mx-auto sm:w-full">
        </figure>
      </div>
  
      <div #About class="order-1 sm:order-2 sm:col-span-3 md:col-span-4 lg:col-span-5 xl:col-span-5 xl:col-start-7" >
        <p class="montserrat text-xl font-light underline underline-offset-4 mb-4 mt-16 sm:mt-0  uppercase">
          Sobre mi
        </p>
        <div class="text-center">
          <h2 class="inline-block relative">
            <span class="bebas font-bold text-8xl lg:text-9xl [color:var(--color-primario)] absolute top-0 left-0 z-20 [text-shadow:_4px_2px_4px_#000]">¿</span>
            <span class="montserrat font-normal text-xl lg:text-3xl  relative z-10 pl-10 mt-4 mb-8">Cómo hago que la tecnología</span>
            <span class="bg-white absolute top-1/2 transform -translate-y-1/2 left-6 py-2 px-5 lg:px-10 rounded-sm z-10">
              <span class="montserrat font-extralight text-base lg:text-xl text-black">te ayude a <span class="font-bold">posicionar</span> </span><br>
              <span class="montserrat font-bold uppercase text-base lg:text-xl text-black block text-left lg:text-end">tu negocio en</span>
            </span>
            <span class="bebas [color:var(--color-primario)] text-4xl lg:text-6xl block text-end relative z-20 pr-10 mb-4 mt-8 [text-shadow:_-4px_-2px_8px_#000] underline underline-offset-8">internet</span>
            <span class="bebas font-bold text-8xl lg:text-9xl [color:var(--color-primario)] absolute -bottom-2 right-0  z-20 [text-shadow:_4px_2px_4px_#000]">?</span>
          </h2>
        </div>
        <div class="my-4">
          <p class="hind text-sm  md:text-base text-justify">
            Como desarrollador de aplicaciones web con experiencia, hago uso de las últimas tecnologías del mercado las cuales se adapten a tus necesidades tecnológicas; con ello se crean interfaces de usuario atractivas y fáciles de manejar, lo que aumenta la probabilidad que los visitantes se queden en tu sitio web y posteriormente sean convertidos en potenciales clientes, hago uso de tecnologías nativas para crear aplicaciones de calidad, escalables y optimizadas para garantizar un buen posicionamiento en los principales motores de búsqueda y así ayudar a posicionar tu negocio en internet.
          </p>
        </div>
        <div class="my-4">
          <button class="mx-auto" (click)="next()">
            <span class="text-black">Ver todas mis habilidades</span>
            <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let pages of content">
    <div #panel class="background absolute top-0 left-0 right-0 bottom-0 x ">
      <div class="relative w-full h-full grid grid-rows-2">

        <div class="brands container ">
            <ng-container *ngFor="let brand of pages.brands">
              <figure  class="inline-block">
                <img #imgBrands [src]="brand" alt="" class="h-7 m-2">
              </figure>
            </ng-container>
        </div>

        <div class="content bg-black">
          <div class="my-4 md:flex md:justify-start  md:gap-8 container lg:justify-center lg:gap-16">
            <h3 class="lora text-3xl md:text-5xl lg:text-7x my-4 md:my-2 shrink-0 md:border-0 border-b-2 border-gray-500 border-solid pb-2 ">{{pages.title}}</h3>
            <div class="lg:flex-1 md:border-l-2 border-gray-500 border-solid md:pl-4">
              <nav>
                <ul>
                  <ng-container *ngFor="let feature of pages.features">
                    <li class="my-2 flex items-center"> 
                     <mat-icon class="mx-2">check_circle</mat-icon>  
                     <span class="hind text-base md:text-lg xl:text-2xl"> {{feature}} </span>
                    </li>
                  </ng-container>
                </ul>
              </nav>
            </div>
          </div>
  
        </div>

      </div>
    </div>
  </ng-container>


  <div #bg  class="absolute z-[1] top-0 left-0 right-0 bottom-0 bg">
    <div class="w-full h-full grid grid-rows-2 justify-end">
      <figure class="flex justify-end items-end">
        <img src="../../../../../assets/fotoIngJonny.webp" class="max-w-[200px] md:max-w-sm object-cover" alt="">
      </figure>
    </div>
  </div>
  
  <a #ArrowBack #nav class="absolute z-10 top-4 left-4  " role="button" (click)="back()">
    <img [src]="arrowLeft" class="w-[50px] h-[50px] " alt="">
  </a>
  <a #ArrowNext #nav class="absolute z-10 bottom-28 right-4 " role="button" (click)="next()">
    <img [src]="arrowright" class="w-[50px] h-[50px] " alt="">
  </a>
</div>
